<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>              
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42812137?query=java%20Odessa">Regular / Senior Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42584286?query=java%20Odessa">Android developer (Kotlin)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Цитрус</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42748672?query=java%20Odessa">Middle C++ Developer (GameDev)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42656164?query=java%20Odessa">Middle DevOps Engineer with Azure (Financial Systems)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42655210?query=java%20Odessa">DevOps (GCP) Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42588407?query=java%20Odessa">Бізнес-аналітик</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ДТЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42656229?query=java%20Odessa">Cloud Engineer with AWS (Online Retailer)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/43115513?query=java%20Odessa">Консультант SAP BW, SAP BPC</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Метинвест Диджитал</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42556139?query=java%20Odessa">Back-end PHP Developer / Laravel</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Khaet.digital</td> 
     <td class="salary">1&nbsp;000-1&nbsp;500 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42632285?query=java%20Odessa">QA Automation Engineer (Selenium WebDriver + Java), Media Conglomerate</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42631699?query=java%20Odessa">QA Automation Engineer (Cybersecurity Solutions)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">DataArt</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42612576?query=java%20Odessa">Scala Team Lead</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://cherepovets.hh.ru/vacancy/42559529?query=java%20Odessa">Mobile Android Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>